/**
 * Customizer Custom CSS
 */
.wp-core-ui .btn-upgrade {
	background: none #5cb85c;
	border-color: #4cae4c;
	box-shadow: none;
	color: #fff;
	margin-top: 10px;
}
.wp-core-ui .btn-upgrade:hover,
.wp-core-ui .btn-upgrade:focus  {
	background: none #449d44;
	border-color: #398439;
	box-shadow: none;
	color: #fff;
}
#fullframe_upgrade {
	display: block;
	float: left;
	width: 100%;
}
#customize-controls #accordion-section-fullframe_icons img,
#customize-controls #customize-control-logo img {
    display: block;
    margin: 0 auto;
    max-width: 96%;
    padding: 2%;
    width: auto;
}